<h1>All users</h1>

  <table style="width:450px">
    <tr>
      <th>Student Name</th>
      <th>Info</th>
      <th># of schools</th>
    </tr>

    <% User.all.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.schools.length %></td>
        <td><%= user.high_school%>, <%= user.grad_year %></td>
      </tr>
    <% end %>
  </table>

</br>
<%= link_to "Create a New User", new_user_path %></br>
<%= link_to "See all schools", schools_path %>
