<p>Profile Info:<p>

<%= @user.name %> <br/>
<%= @user.grad_year %> <br/>
<%= @user.high_school %> <br/>

<p>
  Schools:
  <ul>
    <% @user.schools.each do |school| %>
      <li><%= link_to school.name, school_path(school) %></li>
    <% end %>
  </ul>
</p>

<p> Add a school </p>
<%= form_for(@user, html: {multipart:true}) do |f| %>
  <p>
    <%= f.label :school_list %><br />
    <%= f.text_field :school_list %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<br/>

<%= link_to "See all users", users_path %>
