<p>Profile Info:<p>

<%= @user.name %> <br/>
<%= @user.grad_year %> <br/>
<%= @user.high_school %> <br/>

<p>
  Schools:
  <% @user.schools.each do |school| %>
    <%= link_to school.name, school_path(school) %>
  <% end %>
  <%= @user.school_list %>
</p>

<br/>

<%= link_to "See all users", users_path %>
